/* src/index.css */
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(135deg, #a7a5a2 10%, #0b475b 100%); /* Tan to Light Blue gradient */
  color: #000000; /* Text color */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  box-sizing: border;
}

a {
  text-decoration: none;
  color: inherit;
}

.slick-prev:before, .slick-next:before {
  color: #333;
}

.slick-dots li button:before {
  color: #333;
}

.slick-dots li.slick-active button:before {
  color: #000;
}
